<html>

<style>
	.typos{
		background-color: tomato;
		color: white;
		padding: 10px

	}
</style>

<head>
    <meta charset="UTF-8">
    <title>Spell Check</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: #303641;
        }
    </style>	
	
	<div class="logout">
		<a href="/logout"><button id="logout-link">Log Out</button></a>
	</div>
</head>

<body>
    <div id="container-spellcheck">
        <form action="http://localhost:5000/spellcheck" method="POST" enctype = "multipart/form-data">
            <div class="input">
                <input id="wrongText" name = "wrongText" placeholder="Enter the file to spellcheck" type="file">
            </div>

            <div class="register">
                <input type="submit" value="Check Spelling" />
            </div>
        </form>
		
			<h2>Your Typos: </h2>
		
			<div id="container-typos">
				<h2 class="typos">
					<p>{{webresult}}</p>
				</h2>
			</div>


    </div>
	
</body>

</html>
